@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap");

:root {
  --main-green: #79cc87;
  --white: white;
  --black: black;
  --gray: gray;
  --green: green;
}

a {
  text-decoration: none;
  color: var(--black);
  font-family: "Roboto", Times, serif;
}

body {
  min-height: 100%;
  margin: 0;
}

form {
  padding: 2rem;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 1rem;
  font-family: "Roboto", Times, serif;
}

header {
  background-color: var(--main-green);
  display: flex;
  min-height: 109px;
  position: sticky;
  justify-content: center;
  z-index: 100;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 1.5rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-size: 2rem;
}

li a:hover {
  color: var(--black);
  background-color: var(--white);
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 20px;
}

main {
  padding-top: 80px;
  justify-content: center;
}

nav {
  display: flex;
}

nav,
nav ul {
  margin: 0;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--white);
  padding: 10px 20px;
}

nav li {
  color: var(--black);
  display: inline-block;
  font-size: 2rem;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Lucida_Console", Arial, sans-serif;
}

p {
  margin: 0 auto;
  width: 1000px;
  font-size: 1.5rem;
  text-align: center;
}

.blogpost {
  margin: 1rem;
  padding: 1rem;
  max-width: 200px;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 1rem;
  cursor: pointer;
}

.blogs {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  background: rgba(0, 255, 13, 0.3);
}

.img {
  max-width: 200px;
}

.button_showmore {
  background-color: var(--black);
  font-size: 1rem;
  color: white;
  font-family: "Roboto", Times, serif;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

.button_submit {
  background-color: #5ccf4c;
  font-size: 2rem;
  color: white;
  font-family: "Roboto", Times, serif;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 20px 30px;
  cursor: pointer;
}

.carousel {
  text-align: center;
  display: flex;
  width: 1400px;
  background: rgba(0, 255, 13, 0.3);
}

.carouselItems {
  margin: 1rem;
  padding: 1rem;
  max-width: 200px;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 1rem;
  cursor: pointer;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
  font-size: 1.3rem;
}

.button_carousel_prev,
.button_carousel_next {
  background-color: var(--black);
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 40%;
  padding: 10px;
  font-weight: bold;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: var(--main-green);
  font-family: "Roboto", Times, serif;
  display: flex;
  position: sticky;
  z-index: 100;
  padding: 0;
  justify-content: space-between;
}

.reviews {
  justify-content: center;
}

.success {
  border: 1px solid green;
  padding: 1rem;
  color: var(--green);
  background: rgba(0, 255, 0, 0.1);
}

#about_title {
  font-family: "Roboto", Times, serif;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

#contactform_headline {
  font-family: "Roboto", Times, serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#latestPosts_index {
  font-family: "Roboto", Times, serif;
  text-transform: uppercase;
  color: var(--black);
  margin: 0;
  font-size: 4rem;
  text-align: center;
}

#logo {
  max-width: 5%;
  height: auto;
  padding-right: 50px;
  margin: 0;
}

#logo_subtitle {
  font-family: "Russo One", Times, serif;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  padding-top: 35px;
  padding-right: 200px;
}

#about_container {
  padding: 2rem;
  background: rgba(0, 255, 13, 0.2);
  border-radius: 1rem;
  font-family: "Roboto", Times, serif;
}

@media (max-width: 800px) {
  .carousel {
    flex-direction: column;
    width: 770px;
  }
}

@media (max-width: 480px) {
  #logo {
    max-width: 10%;
  }

  .carouselItems {
    flex-wrap: wrap;
    max-width: 200px;
  }

  .carousel {
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 370px;
  }

  header {
    justify-content: center;
  }
}
